.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
.yardoc/
public/assets/
config/database.yml
config/secrets.yml
public/doc
.DS_Store
.rvmrc
.idea/
spec/examples.txt
.vagrant
.byebug_history
.ruby-version
